-- =====================================================
-- FIX AUTHENTICATION FOR RLS COMPATIBILITY
-- =====================================================

-- This script ensures the authentication system works properly with RLS

-- 1. Create a function to get user role from JWT
CREATE OR REPLACE FUNCTION auth.user_role()
RETURNS TEXT AS \$\$
BEGIN
    RETURN (
        SELECT role FROM public.users 
        WHERE email = auth.jwt() ->> 'email'
        LIMIT 1
    );
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- 2. Create a function to check if user is admin
CREATE OR REPLACE FUNCTION auth.is_admin()
RETURNS BOOLEAN AS \$\$
BEGIN
    RETURN (
        SELECT EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- 3. Create a function to get current user ID
CREATE OR REPLACE FUNCTION auth.current_user_id()
RETURNS UUID AS \$\$
BEGIN
    RETURN (
        SELECT id FROM public.users 
        WHERE email = auth.jwt() ->> 'email'
        LIMIT 1
    );
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- 4. Grant necessary permissions
GRANT EXECUTE ON FUNCTION auth.user_role() TO authenticated;
GRANT EXECUTE ON FUNCTION auth.is_admin() TO authenticated;
GRANT EXECUTE ON FUNCTION auth.current_user_id() TO authenticated;

-- =====================================================
-- AUTHENTICATION FUNCTIONS READY
-- =====================================================

-- These functions will help the RLS policies work correctly
-- by providing easy access to user information from JWT tokens
