-- =====================================================
-- COMPREHENSIVE RLS SOLUTION FOR IPMA PLATFORM
-- =====================================================

-- This script implements proper Row Level Security (RLS) for the IPMA platform
-- It ensures data security while allowing the platform to function correctly

-- 1. Enable RLS on ALL tables
ALTER TABLE public.topics ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.subtopics ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.questions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.kpis ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.sample_answers ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.training_examples ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.company_codes ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.data_backups ENABLE ROW LEVEL SECURITY;

-- 2. Drop existing policies to avoid conflicts
DROP POLICY IF EXISTS \
Users
can
view
own
profile\ ON public.users;
DROP POLICY IF EXISTS \Users
can
update
own
profile\ ON public.users;
DROP POLICY IF EXISTS \Admins
can
view
all
users\ ON public.users;
DROP POLICY IF EXISTS \Users
can
view
own
attempts\ ON public.attempts;
DROP POLICY IF EXISTS \Users
can
create
own
attempts\ ON public.attempts;

-- 3. Create comprehensive policies for shared data (topics, questions, KPIs, etc.)
-- These tables contain educational content that should be accessible to all authenticated users

-- Topics: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
topics\ ON public.topics
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
topics\ ON public.topics
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Subtopics: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
subtopics\ ON public.subtopics
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
subtopics\ ON public.subtopics
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Questions: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
questions\ ON public.questions
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
questions\ ON public.questions
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- KPIs: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
kpis\ ON public.kpis
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
kpis\ ON public.kpis
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Sample Answers: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
sample_answers\ ON public.sample_answers
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
sample_answers\ ON public.sample_answers
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Training Examples: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
training_examples\ ON public.training_examples
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
training_examples\ ON public.training_examples
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Company Codes: All authenticated users can read, only admins can write
CREATE POLICY \Authenticated
users
can
read
company_codes\ ON public.company_codes
    FOR SELECT TO authenticated USING (true);

CREATE POLICY \Admins
can
manage
company_codes\ ON public.company_codes
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Data Backups: Only admins can access
CREATE POLICY \Admins
can
manage
data_backups\ ON public.data_backups
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- 4. User-specific data policies
-- Users: Users can read/update their own profile, admins can see all
CREATE POLICY \Users
can
read
own
profile\ ON public.users
    FOR SELECT TO authenticated USING (
        email = auth.jwt() ->> 'email' OR
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

CREATE POLICY \Users
can
update
own
profile\ ON public.users
    FOR UPDATE TO authenticated USING (email = auth.jwt() ->> 'email');

CREATE POLICY \Admins
can
manage
all
users\ ON public.users
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Subscriptions: Users can read their own, admins can see all
CREATE POLICY \Users
can
read
own
subscriptions\ ON public.subscriptions
    FOR SELECT TO authenticated USING (
        user_id IN (
            SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
        ) OR
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

CREATE POLICY \Admins
can
manage
subscriptions\ ON public.subscriptions
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Attempts: Users can read/create their own, admins can see all
CREATE POLICY \Users
can
read
own
attempts\ ON public.attempts
    FOR SELECT TO authenticated USING (
        user_id IN (
            SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
        ) OR
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

CREATE POLICY \Users
can
create
own
attempts\ ON public.attempts
    FOR INSERT TO authenticated WITH CHECK (
        user_id IN (
            SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
        )
    );

CREATE POLICY \Admins
can
manage
all
attempts\ ON public.attempts
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- Attempt Items: Users can read/create their own, admins can see all
CREATE POLICY \Users
can
read
own
attempt_items\ ON public.attempt_items
    FOR SELECT TO authenticated USING (
        attempt_id IN (
            SELECT id FROM public.attempts 
            WHERE user_id IN (
                SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
            )
        ) OR
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

CREATE POLICY \Users
can
create
own
attempt_items\ ON public.attempt_items
    FOR INSERT TO authenticated WITH CHECK (
        attempt_id IN (
            SELECT id FROM public.attempts 
            WHERE user_id IN (
                SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
            )
        )
    );

CREATE POLICY \Admins
can
manage
all
attempt_items\ ON public.attempt_items
    FOR ALL TO authenticated USING (
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

-- User Sessions: Users can read their own, admins can see all
CREATE POLICY \Users
can
read
own
sessions\ ON public.user_sessions
    FOR SELECT TO authenticated USING (
        user_id IN (
            SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
        ) OR
        EXISTS (
            SELECT 1 FROM public.users 
            WHERE email = auth.jwt() ->> 'email'
            AND role = 'admin'
        )
    );

CREATE POLICY \Users
can
manage
own
sessions\ ON public.user_sessions
    FOR ALL TO authenticated USING (
        user_id IN (
            SELECT id FROM public.users WHERE email = auth.jwt() ->> 'email'
        )
    );

-- 5. Anonymous access for public data (temporary for development)
-- This allows the platform to work while authentication is being implemented
CREATE POLICY \Anonymous
can
read
public
data\ ON public.topics
    FOR SELECT TO anon USING (true);

CREATE POLICY \Anonymous
can
read
public
data\ ON public.subtopics
    FOR SELECT TO anon USING (true);

CREATE POLICY \Anonymous
can
read
public
data\ ON public.questions
    FOR SELECT TO anon USING (true);

CREATE POLICY \Anonymous
can
read
public
data\ ON public.kpis
    FOR SELECT TO anon USING (true);

CREATE POLICY \Anonymous
can
read
public
data\ ON public.sample_answers
    FOR SELECT TO anon USING (true);

CREATE POLICY \Anonymous
can
read
public
data\ ON public.training_examples
    FOR SELECT TO anon USING (true);

CREATE POLICY \Anonymous
can
read
public
data\ ON public.company_codes
    FOR SELECT TO anon USING (true);

-- =====================================================
-- RLS IMPLEMENTATION COMPLETE
-- =====================================================

-- This RLS setup provides:
-- 1.  Secure access control based on user roles
-- 2.  Shared educational content accessible to all users
-- 3.  User-specific data (attempts, profiles) properly protected
-- 4.  Admin privileges for content management
-- 5.  Anonymous access for development/testing
-- 6.  Proper foreign key relationships maintained

-- The platform should now work securely with RLS enabled!
